.error {
  padding: 20px;
  max-width: 100vw;
  margin: 0 auto;
}

.errorIcon {
  fill: rgba(194, 19, 19, 0.729);
  width: 50px;
  height: 50px;
}

.errorTitle {
  color: rgba(194, 19, 19, 0.729);
  margin-bottom: 20px;
  font-size: 25px;
}

.errorText {
  color: rgba(170, 37, 37, 0.723);
  font-size: 16px;
  text-wrap: balance;
}

@media screen and (min-width: 768px) {
  .error {
    padding: 50px;
    max-width: 90vw;
  }

  .errorTitle {
    font-size: 50px;
  }

  .errorText {
    color: rgba(170, 37, 37, 0.723);
    font-size: 20px;
  }
}
